body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu main main"
        "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

.menu {
    grid-area: menu;
    background-color: #f4f4f4;
    padding: 1rem;
    border-right: 1px solid #ccc;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    font-size: 1rem;
}
.menu li:hover {
    cursor: pointer;
}

.count {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
}

.main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.image-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.image-container h4 {
    font-size: 1rem;
    color: #888;
    margin: 0.5rem 0;
}

.image-container h4:hover {
    font-size: 1.5rem;
    color: #4CAF50;
    cursor: pointer;
    transition: all 0.4s;
}

.image-container button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.image-container button:hover {
    background-color: #45a049;
}

.footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}
