body {
  background-color: rgb(245, 241, 235);
  width: 900px;
  margin: 0 auto;
}
.banner {
  background-image: url(../img/imgix-klWUhr-wPJ8-unsplash.jpg);
  position: relative;
  top: 15px;
  background-size: cover;
  background-position: center;
  height: 190px;
  border-radius: 10px;
  opacity: 50%;
}
.slogan h1 {
  position: absolute;
  top: 3%;
  padding: 10px;
  color: rgb(236, 123, 37);
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 3px black;
}
.slogan h3 {
  position: absolute;
  top: 13%;
  padding: 10px;
  color: rgb(221, 196, 196);
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px 5px black;
}
.titulo {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",sans-serif;
  color: rgb(95, 36, 36);
  margin-top: 40px;
  margin-left: 80px;
}
.containerM {
  display: flex;
  flex-direction: column;
}
.imagen {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 80px;
}
.imagen img {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}
.text h2 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(95, 36, 36);
  font-size: 20px;
  margin-bottom: 10px;
}
.text p {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(95, 36, 36);
  font-size: 15px;
  margin-top: -10px;
}
.footer1 {
  opacity: 80%;
  background-color: rgb(251, 212, 201);
  height: 30px;
  position: fixed;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  bottom: 5px;
  left: 22%;
  width: 800px;
}
.footer1 p {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  margin-top: 5px;
  text-align: center;
  color: rgb(95, 36, 36);
}
