body {
    background-color: rgb(245, 241, 235);
}
.contenedorBanner img {
    width: 1300px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    position: relative;
    top: 30px;
    left: 50px;
    box-shadow: 5px 5px 5px black;
    opacity: 50%;
}
.texto1 h1 {
    position: absolute;
    top: 8%;
    left: 8%;
    padding: 10px;
    color: rgb(224, 98, 60);
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 3px black;
}
.texto1 h3 {
    position: absolute;
    top: 18%;
    left: 8%;
    padding: 10px;
    color: rgb(95, 36, 36);
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo {
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(95, 36, 36);
}

.footer1 {
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    margin-left: 50px; /* Margen izquierdo */
    background-color: rgb(251, 212, 201); /* Color de fondo */
    text-align: center; /* Alineación del texto */
    width: 1300px; /* Ancho */
    height: 35px; /* Alto */
    position: fixed; /* Posicionamiento fijo */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 2px 2px 2px black; /* Sombra */
    bottom: 0; /* Alinear con la parte inferior */
    left: 0;
    right: 0;
}
.footer1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    position: relative;
    top: -6px;
    text-align: center;
    color: rgb(95, 36, 36);
}
.contenedor1 {
    display: flex; /* Utiliza un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos */
}

.contenedor1 img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto */
    width: 300px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 30px; /* Bordes redondeados */
    margin-left: 100px; /* Margen izquierdo */
    position: relative; /* Posicionamiento relativo */
    top: 100px; /* Alineación con el texto */
}

.contenedor1 .textoimg1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; /* Fuente */
    color: rgb(95, 36, 36); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    margin-left: 10px; /* Pequeño separador entre la imagen y el texto */
}
.contenedor2 {
    display: flex; /* Utiliza un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos */
}

.contenedor2 img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto */
    width: 300px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 30px; /* Bordes redondeados */
    margin-left: 100px; /* Margen izquierdo */
    position: relative; /* Posicionamiento relativo */
    top: 130px; /* Alineación con el texto */
}

.contenedor2 .textoimg2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; /* Fuente */
    color: rgb(95, 36, 36); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    margin-left: 10px; /* Pequeño separador entre la imagen y el texto */
}

.contenedor3 {
    display: flex; /* Utiliza un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos */
}

.contenedor3 img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto */
    width: 300px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 30px; /* Bordes redondeados */
    margin-left: 100px; /* Margen izquierdo */
    position: relative; /* Posicionamiento relativo */
    top: 160px; /* Alineación con el texto */
}

.contenedor3 .textoimg3 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; /* Fuente */
    color: rgb(95, 36, 36); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    margin-left: 10px; /* Pequeño separador entre la imagen y el texto */
}